
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.body-container{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap:10px;
  color: #007FFF;
  width: 90vw;
}
.main-container{
  border: 2px solid #007FFF;
  border-radius: 20px;
  width: 55%;
  max-width: 550px;
}
.main-stat{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px;
  text-align: center;
  background-color: #E0FFFF;
  border-radius: 20px 20px 0 0;
}
#balance-stat{
  font-size: 35px;
}
.stat-bottom{
  margin-top: 30px;
  width: 100%;
  padding-inline: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.stat-bottom>*{
  border: 1px solid #007FFF;
  padding: 0 20px;
  border-radius: 10px;
}
.stat{
  font-size: 25px;
  font-weight: 600;
}
.main-form{
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* From */
.main-form{
  padding-inline: 20px;
}
.form{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.form>*{
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  color: #007FFF;
  padding: 5px;
  border: 1px solid #007FFF;
}
#type{
  padding: 5px;
}
#desc{
  width: 150px;
  padding: 5px;
}
#amount{
  width: 80px;
  padding: 5px;
}

/*Containers*/
#inc-container{
  padding: 20px;
}
#exp-container{
  padding: 20px;
}
.container{
  width: 300px;
  border-radius: 5px;
}
.cont-header{
  text-align: center;
}
.cont-header h2{
  text-transform: uppercase;
}
.tile{
  padding: 5px;
}
.record{
  border: 1px solid #007FFF;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.record-desc{
  flex-grow: 1;
  overflow: hidden;
}
.record-data{
  font-weight: 600;
  padding: 0 10px;
}
.record-edit, .record-delete{
  border: 0.5px solid #007FFF;
  padding-inline: 5px;
  border-radius: 5px;
  font-weight: 600;
  color: #007FFF;
  font-size: 10px;
}
#inc-record-data-amount,
#income-stat
{
  color: green;
}
#exp-record-data-amount,
#expense-stat
{
  color: red;
}

@media (max-width: 650px) {
  body{
    font-size: 16px;
    padding-top: 20px;
  }
  .main-container{
    min-width: 90%;
  }
  .main-stat{
    padding: 30px 10px;
  }
  .stat-bottom{
    flex-wrap: wrap;
    padding-inline: 20px;
    gap: 10px;
    justify-content: center;
  }
  .main-form{
    padding-inline: 10px;
  }
  #desc{
    width: 160px;
    font-size: 14px;
  }
  #amount{
    width: 80px;
    font-size: 14px;
  }
  .container{
    width: 90%;
  }
  .record-edit,
  .record-delete{
    font-size: 12px;
  }
}

.section-container{
  display: flex;
}